In [15]:
import pandas as pd
import pickle
import json
import tweepy
import time
import numpy as np
import re
import networkx as nx
import wget
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
import re
from nltk.corpus import stopwords
import csv

##  read saved pickle
### This notebook contains steps for data preprocessing, everything is pickled for easier access. 
####  data cleaning, classify location, tweets tokenized, . refer to next jupyter notebook for sentiment analysis code.
#### tweetfile2 contains individual tokenized tweets 
#### locationtokenized conbines tweets from the same country into one corpus.

In [120]:
with open('tweetfile1.p', 'rb') as fp:
    pd1 = pickle.load(fp)
with open('tweetfile2.p', 'rb') as fp:
    pd2 = pickle.load(fp)
with open('locationtokenized.p', 'rb') as fp:
    pd3 = pickle.load(fp)
with open('tweetstring.p', 'rb') as fp:
    pd4 = pickle.load(fp)
with open('locationstring.p', 'rb') as fp:
    pd5 = pickle.load(fp)

In [121]:
pd2.head()

                                                tweet location      created
0   [well, looking, like, amy, coney, barrett, ann...       US  02-Oct-2020
1   [wapo, deleted, tweet, sent, hour, trump, anno...       US  02-Oct-2020
8   [tree4justice, real, thing, nurse, friends, se...       US  02-Oct-2020
9   [covid19, officially, denounces, white, suprem...       US  02-Oct-2020
11  [statement, president, trumps, covid19, diagno...   CANADA  02-Oct-2020

In [122]:
pd3.head()

                                                       tweet
location
ARGENTINA  [statement, trumps, covid19, positive, diagnos...
AUSTRALIA  [coronavirus, ultimate, trap, media, loselose,...
BELGIUM    [kary, mullis, invented, pcr, nobel, prize, ch...
BRAZIL     [alarming, data, shows, third, wave, covid19, ...
CANADA     [statement, president, trumps, covid19, diagno...

## read in all covidtweets json files and store them into a single dataframe

In [3]:
filename='covidtweets2020-10-'

In [4]:
finalpd = pd.DataFrame({'tweet' : [],'location':[],'created':[]})

In [5]:

for i in range(1,32):
    try:
        if i<10:
            filename1=filename+'0'+str(i)+'.json'
            with open(filename1, 'r', encoding='utf-8') as json_file:
                languages_dict = json.load(json_file)
                data2=pd.DataFrame(languages_dict)  
                finalpd=finalpd.append(data2,ignore_index=True)
                print(filename1)
        else:
            filename1=filename+str(i)+'.json'
            with open(filename1, 'r', encoding='utf-8') as json_file:
                languages_dict = json.load(json_file)
                data2=pd.DataFrame(languages_dict)  
                finalpd=finalpd.append(data2,ignore_index=True)
                print(filename1)
    except Exception as e:
        print(e)
        continue

[Errno 2] No such file or directory: 'covidtweets2020-10-01.json'
covidtweets2020-10-02.json
covidtweets2020-10-03.json
covidtweets2020-10-04.json
covidtweets2020-10-05.json
covidtweets2020-10-06.json
covidtweets2020-10-07.json
covidtweets2020-10-08.json
covidtweets2020-10-09.json
covidtweets2020-10-10.json
covidtweets2020-10-11.json
covidtweets2020-10-12.json
covidtweets2020-10-13.json
[Errno 2] No such file or directory: 'covidtweets2020-10-14.json'
covidtweets2020-10-15.json
covidtweets2020-10-16.json
covidtweets2020-10-17.json
covidtweets2020-10-18.json
covidtweets2020-10-19.json
covidtweets2020-10-20.json
covidtweets2020-10-21.json
covidtweets2020-10-22.json
covidtweets2020-10-23.json
[Errno 2] No such file or directory: 'covidtweets2020-10-24.json'
covidtweets2020-10-25.json
covidtweets2020-10-26.json
[Errno 2] No such file or directory: 'covidtweets2020-10-27.json'
covidtweets2020-10-28.json
covidtweets2020-10-29.json
covidtweets2020-10-30.json
covidtweets2020-10-31.json

In [6]:
with open('covidtweets2020-11-01.json', 'r', encoding='utf-8') as json_file:
                languages_dict = json.load(json_file)
                data2=pd.DataFrame(languages_dict)  
                finalpd=finalpd.append(data2,ignore_index=True)
                print(filename1)

covidtweets2020-10-31.json

In [7]:
finalpd=finalpd.drop(columns=['following','followers','retweetcount'])

### remove rows without location

In [8]:
finalpd['location'].replace('', np.nan, inplace=True)

### Data cleaning

In [9]:
def standardize_text(text):
    text = text.lower()
    text = re.sub("[.,!?®:@'&$’\"\-()]", "", text)
    text = re.sub(r"http.+$", " ", text)
    text = text.strip()
    text = re.sub("[#_]", "", text)
    text = re.sub('((www\.[^\s]+)|(https?://[^\s]+))', 'URL', text) # remove URLs
    text = re.sub('@[^\s]+', 'AT_USER', text) # remove usernames
    text = re.sub(r'#([^\s]+)', r'\1', text) # remove the # in #hashtag
    #tweet = word_tokenize(tweet)
    return text

In [10]:
def toeknize_stem_token(text):
    tokens = word_tokenize(text)
    lemma = nltk.wordnet.WordNetLemmatizer()
    lemm_tokens = []

    for token in tokens:
        lemm_tokens.append(lemma.lemmatize(token))

    return lemm_tokens

In [11]:
def remove_stopwords(tokens):
    sw = stopwords.words()
    sw.append('rt')
    # I am using list comprehension here
    word_token = [t for t in tokens if t not in sw]
    #remove username
    word_token=word_token[1:]
    return word_token

In [12]:
def listToString(s):  
    str1 = " " 
    return (str1.join(s))

In [13]:
def cleantweets(pandaf):
    
    data2=pandaf
    
    data2['tweet'] = data2['tweet'].apply(standardize_text)

    data2['tweet'] = data2['tweet'].apply(toeknize_stem_token)

    data2['tweet'] = data2['tweet'].apply(remove_stopwords)
    
    #data2['tweet'] = data2['tweet'].apply(listToString)
    
    data2 = data2[data2.location != '']
    
    return data2

In [16]:
finalclean=cleantweets(finalpd)

In [18]:
with open('tweetfile1.p', 'wb') as fp:
    pickle.dump(finalclean, fp, protocol=pickle.HIGHEST_PROTOCOL)

In [19]:
final1=finalclean.copy()

In [20]:
finalclean1=finalclean.copy()
finalclean1['tweet'] = finalclean1['tweet'].apply(listToString)

In [21]:
final1

,tweet,location,created
0,"[well, looking, like, amy, coney, barrett, ann...","New York, New York",02-Oct-2020
1,"[wapo, deleted, tweet, wa, sent, hour, trump, ...","Troy, AL",02-Oct-2020
2,"[best, covid19, experience, nobody, covid, wa,...",she/they,02-Oct-2020
3,"[trump, supporter, demanding, sympathize, trum...",NaN,02-Oct-2020
4,"[last, day, freakin, badass, rebellious, dream...",NaN,02-Oct-2020
...,...,...,...
207995,"[ideal, world, kid, school, remain, open, pres...","Barnsley, England",01-Nov-2020
207996,"[would, indeed, ironic, donald, trump, lost, p...",a diner in the 12th dimension,01-Nov-2020
207997,"[lil, halloween, party, worth, getting, sick, ...",Namjoon Nation,01-Nov-2020
207998,"[latest, covid19, daily, case, increase, total...",NaN,01-Nov-2020
207999,"[know, dishonestwe, know, trump, shut, economy...",NaN,01-Nov-2020

### location cleaning

In [22]:
final1=final1.dropna()

#### keep the value after comma, remove space

In [23]:
def cleanlocation(text):
    
    text=text.upper()
    
    textlist=text.split(',')
    location=textlist[-1]
     
    location = location.strip()
    return location

In [24]:
final1['location'] = final1['location'].apply(cleanlocation)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
final1

,tweet,location,created
0,"[well, looking, like, amy, coney, barrett, ann...",NEW YORK,02-Oct-2020
1,"[wapo, deleted, tweet, wa, sent, hour, trump, ...",AL,02-Oct-2020
2,"[best, covid19, experience, nobody, covid, wa,...",SHE/THEY,02-Oct-2020
8,"[tree4justice, real, thing, nurse, friend, see...",CA,02-Oct-2020
9,"[covid19, officially, denounces, white, suprem...",KENTUCKY,02-Oct-2020
...,...,...,...
207990,"[america, lead, 1, covid19, case, 1, medical, ...",TX,01-Nov-2020
207994,"[zxretroxx, sn123101, jannermaid1, sure, famil...",UK,01-Nov-2020
207995,"[ideal, world, kid, school, remain, open, pres...",ENGLAND,01-Nov-2020
207996,"[would, indeed, ironic, donald, trump, lost, p...",A DINER IN THE 12TH DIMENSION,01-Nov-2020
207997,"[lil, halloween, party, worth, getting, sick, ...",NAMJOON NATION,01-Nov-2020

### get frequency of the locations

In [26]:
final1.location.mode()

0    USA
dtype: object

In [27]:
rownum=len(final1.index)
rownum

137316

In [28]:
n=0.05
validnum=int(round(rownum*n,0))
validnum

6866

### testing phase, remove location that occur less than 2

In [29]:
final1=final1.groupby("location").filter(lambda x: len(x) > 1)

#### remove location that occur less than 51

In [30]:
final1=final1.groupby("location").filter(lambda x: len(x) > 50)

#### check the occurance

In [31]:
final1.location.value_counts()

USA              14452
CA                4913
ENGLAND           3799
UNITED STATES     3765
TX                2733
                 ...
ND                  53
MONTANA             52
ESSEX               51
IDAHO               51
BALTIMORE           51
Name: location, Length: 218, dtype: int64

## read covid world data

In [32]:
covidworld=pd.read_csv('covid19_world-2.csv')

In [33]:
covidworld.groupby(['ObservationDate','Country_Region'])['Confirmed'].agg('sum')

ObservationDate  Country_Region
2020-01-22       China                   547
                 Hong Kong                 0
                 Japan                     2
                 Macau                     1
                 South Korea               1
                                       ...
2020-11-22       West Bank and Gaza    71644
                 Western Sahara           10
                 Yemen                  2099
                 Zambia                17424
                 Zimbabwe               9220
Name: Confirmed, Length: 48259, dtype: int64

In [34]:
covidworld=covidworld[(covidworld['ObservationDate'] > '2020-10-01') & (covidworld['ObservationDate'] < '2020-11-02')]

In [35]:
covidworld

,ObservationDate,Country_Region,Province_State,Confirmed,Deaths,Recovered,Active
697509,2020-10-02,Afghanistan,NaN,39290,1458.0,32842.0,4990.0
697510,2020-10-02,Albania,NaN,13965,389.0,8342.0,5234.0
697511,2020-10-02,Algeria,NaN,51847,1749.0,36385.0,13713.0
697512,2020-10-02,Andorra,NaN,2110,53.0,1540.0,517.0
697513,2020-10-02,Angola,NaN,5211,189.0,2215.0,2807.0
...,...,...,...,...,...,...,...
820166,2020-11-01,West Bank and Gaza,NaN,54060,489.0,46773.0,6798.0
820167,2020-11-01,Western Sahara,NaN,10,1.0,8.0,1.0
820168,2020-11-01,Yemen,NaN,2063,600.0,1366.0,97.0
820169,2020-11-01,Zambia,NaN,16480,349.0,15733.0,398.0
820170,2020-11-01,Zimbabwe,NaN,8374,243.0,7927.0,204.0

In [36]:
covidworld.groupby(['Country_Region'])['Confirmed','Deaths','Recovered','Active'].agg('sum')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                    Confirmed   Deaths  Recovered    Active
Country_Region
Afghanistan           1248137  46303.0  1040764.0  161070.0
Albania                530480  13861.0   308539.0  208080.0
Algeria               1690213  57424.0  1181170.0  451519.0
Andorra                105842   1917.0    71161.0   32764.0
Angola                 239270   7426.0    97014.0  134830.0
...                       ...      ...        ...       ...
West Bank and Gaza    1458863  12621.0  1247424.0  198818.0
Western Sahara            310     31.0      248.0      31.0
Yemen                   63678  18475.0    41558.0    3645.0
Zambia                 488187  10632.0   462236.0   15319.0
Zimbabwe               251867   7245.0   227031.0   17591.0

[192 rows x 4 columns]

In [37]:
countrypopulation=pd.read_csv('world_wise.csv')

In [38]:
countrypopulation[['Country/Region','Population']]

            Country/Region    Population
0                       US  3.311981e+08
1                   Brazil  2.127107e+08
2                    India  1.381345e+09
3                   Russia  1.459409e+08
4             South Africa  5.938157e+07
..                     ...           ...
204             Montserrat  4.992000e+03
205  Caribbean Netherlands  2.624700e+04
206       Falkland Islands  3.489000e+03
207           Vatican City  8.010000e+02
208         Western Sahara  5.986820e+05

[209 rows x 2 columns]

In [39]:
cname=countrypopulation['Country/Region'].tolist()
c_dict = dict(zip(countrypopulation['Country/Region'], countrypopulation['Population']))

In [40]:
cname

['US',
 'Brazil',
 'India',
 'Russia',
 'South Africa',
 'Mexico',
 'Peru',
 'Chile',
 'Colombia',
 'Spain',
 'Iran',
 'United Kingdom',
 'Saudi Arabia',
 'Pakistan',
 'Bangladesh',
 'Italy',
 'Turkey',
 'Argentina',
 'Germany',
 'France',
 'Iraq',
 'Philippines',
 'Indonesia',
 'Canada',
 'Qatar',
 'Kazakhstan',
 'Egypt',
 'Ecuador',
 'Bolivia',
 'Sweden',
 'Oman',
 'Israel',
 'Ukraine',
 'Dominican Republic',
 'Panama',
 'Belgium',
 'Kuwait',
 'Belarus',
 'UAE',
 'Romania',
 'Netherlands',
 'Singapore',
 'Guatemala',
 'Portugal',
 'Poland',
 'Nigeria',
 'Honduras',
 'Bahrain',
 'Japan',
 'Armenia',
 'Ghana',
 'Kyrgyzstan',
 'Afghanistan',
 'Switzerland',
 'Algeria',
 'Azerbaijan',
 'Morocco',
 'Uzbekistan',
 'Serbia',
 'Moldova',
 'Ireland',
 'Kenya',
 'Venezuela',
 'Nepal',
 'Austria',
 'Costa Rica',
 'Ethiopia',
 'Australia',
 'El Salvador',
 'Czechia',
 'Cameroon',
 'Ivory Coast',
 'S. Korea',
 'Denmark',
 'Palestine',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Madagascar',
 'Sudan',
 'North Macedonia',
 'Senegal',
 'Norway',
 'DRC',
 'Malaysia',
 'French Guiana',
 'Gabon',
 'Tajikistan',
 'Guinea',
 'Haiti',
 'Finland',
 'Zambia',
 'Luxembourg',
 'Mauritania',
 'Paraguay',
 'Albania',
 'Lebanon',
 'Croatia',
 'Djibouti',
 'Greece',
 'Libya',
 'Equatorial Guinea',
 'Maldives',
 'CAR',
 'Hungary',
 'Malawi',
 'Zimbabwe',
 'Nicaragua',
 'Hong Kong',
 'Congo',
 'Montenegro',
 'Thailand',
 'Somalia',
 'Mayotte',
 'Eswatini',
 'Sri Lanka',
 'Cuba',
 'Cabo Verde',
 'Namibia',
 'Mali',
 'Slovakia',
 'South Sudan',
 'Slovenia',
 'Lithuania',
 'Estonia',
 'Mozambique',
 'Rwanda',
 'Suriname',
 'Guinea-Bissau',
 'Benin',
 'Iceland',
 'Sierra Leone',
 'Yemen',
 'Tunisia',
 'New Zealand',
 'Angola',
 'Uruguay',
 'Latvia',
 'Jordan',
 'Liberia',
 'Uganda',
 'Cyprus',
 'Georgia',
 'Burkina Faso',
 'Niger',
 'Togo',
 'Syria',
 'Jamaica',
 'Malta',
 'Andorra',
 'Chad',
 'Gambia',
 'Sao Tome and Principe',
 'Botswana',
 'Bahamas',
 'Vietnam',
 'Lesotho',
 'Diamond Princess',
 'San Marino',
 'Réunion',
 'Channel Islands',
 'Guyana',
 'Tanzania',
 'Taiwan',
 'Comoros',
 'Burundi',
 'Myanmar',
 'Mauritius',
 'Isle of Man',
 'Mongolia',
 'Eritrea',
 'Guadeloupe',
 'Martinique',
 'Faeroe Islands',
 'Aruba',
 'Cambodia',
 'Trinidad and Tobago',
 'Cayman Islands',
 'Gibraltar',
 'Papua New Guinea',
 'Sint Maarten',
 'Bermuda',
 'Brunei ',
 'Barbados',
 'Turks and Caicos',
 'Seychelles',
 'Monaco',
 'Bhutan',
 'Antigua and Barbuda',
 'Liechtenstein',
 'Belize',
 'French Polynesia',
 'St. Vincent Grenadines',
 'Saint Martin',
 'Macao',
 'Curaçao',
 'Fiji',
 'Saint Lucia',
 'Timor-Leste',
 'Grenada',
 'New Caledonia',
 'Laos',
 'Dominica',
 'Saint Kitts and Nevis',
 'Greenland',
 'Montserrat',
 'Caribbean Netherlands',
 'Falkland Islands',
 'Vatican City',
 'Western Sahara']

In [41]:
c_dict

{'US': 331198130.0,
 'Brazil': 212710692.0,
 'India': 1381344997.0,
 'Russia': 145940924.0,
 'South Africa': 59381566.0,
 'Mexico': 129066160.0,
 'Peru': 33016319.0,
 'Chile': 19132514.0,
 'Colombia': 50936262.0,
 'Spain': 46756648.0,
 'Iran': 84097623.0,
 'United Kingdom': 67922029.0,
 'Saudi Arabia': 34865919.0,
 'Pakistan': 221295851.0,
 'Bangladesh': 164851401.0,
 'Italy': 60452568.0,
 'Turkey': 84428331.0,
 'Argentina': 45236884.0,
 'Germany': 83811260.0,
 'France': 65288306.0,
 'Iraq': 40306025.0,
 'Philippines': 109722719.0,
 'Indonesia': 273808365.0,
 'Canada': 37775022.0,
 'Qatar': 2807805.0,
 'Kazakhstan': 18798667.0,
 'Egypt': 102516525.0,
 'Ecuador': 17668824.0,
 'Bolivia': 11688459.0,
 'Sweden': 10105596.0,
 'Oman': 5118446.0,
 'Israel': 9197590.0,
 'Ukraine': 43705858.0,
 'Dominican Republic': 10858648.0,
 'Panama': 4321282.0,
 'Belgium': 11594739.0,
 'Kuwait': 4276658.0,
 'Belarus': 9449001.0,
 'UAE': 9902079.0,
 'Romania': 19224023.0,
 'Netherlands': 17138756.0,
 'Singapore': 5854932.0,
 'Guatemala': 17946899.0,
 'Portugal': 10193593.0,
 'Poland': 37842302.0,
 'Nigeria': 206606300.0,
 'Honduras': 9919704.0,
 'Bahrain': 1706669.0,
 'Japan': 126435859.0,
 'Armenia': 2963811.0,
 'Ghana': 31133483.0,
 'Kyrgyzstan': 6534479.0,
 'Afghanistan': 39009447.0,
 'Switzerland': 8660952.0,
 'Algeria': 43926079.0,
 'Azerbaijan': 10148243.0,
 'Morocco': 36953359.0,
 'Uzbekistan': 33516027.0,
 'Serbia': 8733665.0,
 'Moldova': 4032983.0,
 'Ireland': 4943200.0,
 'Kenya': 53881160.0,
 'Venezuela': 28427499.0,
 'Nepal': 29186486.0,
 'Austria': 9011577.0,
 'Costa Rica': 5098730.0,
 'Ethiopia': 115223736.0,
 'Australia': 25528864.0,
 'El Salvador': 6489514.0,
 'Czechia': 10711019.0,
 'Cameroon': 26606188.0,
 'Ivory Coast': 26437950.0,
 'S. Korea': 51273732.0,
 'Denmark': 5794279.0,
 'Palestine': 5112340.0,
 'Bosnia and Herzegovina': 3278650.0,
 'Bulgaria': 6942854.0,
 'Madagascar': 27755708.0,
 'Sudan': 43943536.0,
 'North Macedonia': 2083365.0,
 'Senegal': 16783877.0,
 'Norway': 5425471.0,
 'DRC': 89802183.0,
 'Malaysia': 32406372.0,
 'French Guiana': 299385.0,
 'Gabon': 2230563.0,
 'Tajikistan': 9557468.0,
 'Guinea': 13164905.0,
 'Haiti': 11416103.0,
 'Finland': 5541604.0,
 'Zambia': 18430129.0,
 'Luxembourg': 626952.0,
 'Mauritania': 4660728.0,
 'Paraguay': 7141091.0,
 'Albania': 2877470.0,
 'Lebanon': 6822220.0,
 'Croatia': 4102577.0,
 'Djibouti': 989387.0,
 'Greece': 10417673.0,
 'Libya': 6880353.0,
 'Equatorial Guinea': 1407001.0,
 'Maldives': 541448.0,
 'CAR': 4837752.0,
 'Hungary': 9657785.0,
 'Malawi': 19174839.0,
 'Zimbabwe': 14883803.0,
 'Nicaragua': 6632263.0,
 'Hong Kong': 7503041.0,
 'Congo': 5530506.0,
 'Montenegro': 628074.0,
 'Thailand': 69817894.0,
 'Somalia': 15933012.0,
 'Mayotte': 273419.0,
 'Eswatini': 1161348.0,
 'Sri Lanka': 21422362.0,
 'Cuba': 11325899.0,
 'Cabo Verde': 556581.0,
 'Namibia': 2545264.0,
 'Mali': 20302901.0,
 'Slovakia': 5459915.0,
 'South Sudan': 11206572.0,
 'Slovenia': 2078968.0,
 'Lithuania': 2718121.0,
 'Estonia': 1326627.0,
 'Mozambique': 31333962.0,
 'Rwanda': 12981546.0,
 'Suriname': 587154.0,
 'Guinea-Bissau': 1972277.0,
 'Benin': 12151976.0,
 'Iceland': 341465.0,
 'Sierra Leone': 7992169.0,
 'Yemen': 29886897.0,
 'Tunisia': 11830801.0,
 'New Zealand': 5002100.0,
 'Angola': 32956300.0,
 'Uruguay': 3474956.0,
 'Latvia': 1883936.0,
 'Jordan': 10213138.0,
 'Liberia': 5068618.0,
 'Uganda': 45867852.0,
 'Cyprus': 1208238.0,
 'Georgia': 3988368.0,
 'Burkina Faso': 20954852.0,
 'Niger': 24281433.0,
 'Togo': 8296582.0,
 'Syria': 17539600.0,
 'Jamaica': 2962478.0,
 'Malta': 441663.0,
 'Andorra': 77278.0,
 'Chad': 16467965.0,
 'Gambia': 2422754.0,
 'Sao Tome and Principe': 219544.0,
 'Botswana': 2356075.0,
 'Bahamas': 393616.0,
 'Vietnam': 97425470.0,
 'Lesotho': 2143943.0,
 'Diamond Princess': nan,
 'San Marino': 33938.0,
 'Réunion': 895952.0,
 'Channel Islands': 174022.0,
 'Guyana': 786936.0,
 'Tanzania': 59886383.0,
 'Taiwan': 23821199.0,
 'Comoros': 871326.0,
 'Burundi': 11922216.0,
 'Myanmar': 54446389.0,
 'Mauritius': 1271985.0,
 'Isle of Man': 85078.0,
 'Mongolia': 3283344.0,
 'Eritrea': 3551175.0,
 'Guadeloupe': 400131.0,
 'Martinique': 375235.0,
 'Faeroe Islands': 48882.0,
 'Aruba': 106812.0,
 'Cambodia': 16741375.0,
 'Trinidad and Tobago': 1399950.0,
 'Cayman Islands': 65798.0,
 'Gibraltar': 33690.0,
 'Papua New Guinea': 8963009.0,
 'Sint Maarten': 42924.0,
 'Bermuda': 62254.0,
 'Brunei ': 437893.0,
 'Barbados': 287411.0,
 'Turks and Caicos': 38768.0,
 'Seychelles': 98408.0,
 'Monaco': 39270.0,
 'Bhutan': 772443.0,
 'Antigua and Barbuda': 98010.0,
 'Liechtenstein': 38139.0,
 'Belize': 398312.0,
 'French Polynesia': 281072.0,
 'St. Vincent Grenadines': 110976.0,
 'Saint Martin': 38729.0,
 'Macao': 650193.0,
 'Curaçao': 164161.0,
 'Fiji': 897095.0,
 'Saint Lucia': 183712.0,
 'Timor-Leste': 1320812.0,
 'Grenada': 112576.0,
 'New Caledonia': 285769.0,
 'Laos': 7285750.0,
 'Dominica': 72004.0,
 'Saint Kitts and Nevis': 53237.0,
 'Greenland': 56780.0,
 'Montserrat': 4992.0,
 'Caribbean Netherlands': 26247.0,
 'Falkland Islands': 3489.0,
 'Vatican City': 801.0,
 'Western Sahara': 598682.0}

In [42]:
final1['location']

0              NEW YORK
1                    AL
8                    CA
9              KENTUCKY
11              TORONTO
              ...
207982    UNITED STATES
207988              USA
207990               TX
207994               UK
207995          ENGLAND
Name: location, Length: 89646, dtype: object

In [43]:
tloc=final1.location.tolist()
tloc=set(tloc)
tloc

{'',
 'AB',
 'ABUJA',
 'AK',
 'AL',
 'ALABAMA',
 'ALASKA',
 'ALBERTA',
 'AMERICA',
 'AR',
 'ARGENTINA',
 'ARIZONA',
 'ARKANSAS',
 'ATLANTA',
 'AUSTRALIA',
 'AZ',
 'B.C.',
 'BALTIMORE',
 'BAY AREA',
 'BC',
 'BELFAST',
 'BELGIUM',
 'BOSTON',
 'BRASIL',
 'BRITISH COLUMBIA',
 'BROOKLYN',
 'CA',
 'CALIFORNIA',
 'CANADA',
 'CHICAGO',
 'CO',
 'COLOMBIA',
 'COLORADO',
 'CONNECTICUT',
 'CT',
 'D.C.',
 'DC',
 'DE',
 'DENVER',
 'DEUTSCHLAND',
 'DUBLIN',
 'EARTH',
 'EDINBURGH',
 'ENGLAND',
 'ESPAÑA',
 'ESSEX',
 'EUROPE',
 'EVERYWHERE',
 'FL',
 'FLORIDA',
 'FRANCE',
 'GA',
 'GEORGIA',
 'GERMANY',
 'GHANA',
 'GLASGOW',
 'GLOBAL',
 'HAWAII',
 'HE/HIM',
 'HELL',
 'HERE',
 'HI',
 'HONG KONG',
 'HOUSTON',
 'IA',
 'ID',
 'IDAHO',
 'IL',
 'ILLINOIS',
 'IN',
 'INDIA',
 'INDIANA',
 'INDONESIA',
 'IOWA',
 'IRELAND',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'KANSAS',
 'KENTUCKY',
 'KENYA',
 'KS',
 'KY',
 'LA',
 'LAGOS',
 'LAS VEGAS',
 'LIVERPOOL',
 'LONDON',
 'LOS ANGELES',
 'LOUISIANA',
 'MA',
 'MAINE',
 'MALAYSIA',
 'MANCHESTER',
 'MANITOBA',
 'MARYLAND',
 'MASSACHUSETTS',
 'MD',
 'ME',
 'MELBOURNE',
 'MEXICO',
 'MI',
 'MICHIGAN',
 'MIDWEST',
 'MINNEAPOLIS',
 'MINNESOTA',
 'MISSOURI',
 'MN',
 'MO',
 'MONTANA',
 'MONTREAL',
 'MS',
 'MT',
 'MUMBAI',
 'MÉXICO',
 'NC',
 'ND',
 'NE',
 'NEDERLAND',
 'NEVADA',
 'NEW DELHI',
 'NEW ENGLAND',
 'NEW JERSEY',
 'NEW MEXICO',
 'NEW SOUTH WALES',
 'NEW YORK',
 'NEW YORK CITY',
 'NEW ZEALAND',
 'NH',
 'NIG',
 'NIGERIA',
 'NJ',
 'NM',
 'NORTH CAROLINA',
 'NORTHERN CALIFORNIA',
 'NORTHERN IRELAND',
 'NOVA SCOTIA',
 'NV',
 'NY',
 'NYC',
 'OH',
 'OHIO',
 'OK',
 'OKLAHOMA',
 'ON',
 'ONTARIO',
 'ONTARIO CANADA',
 'OR',
 'OREGON',
 'OXFORD',
 'PA',
 'PACIFIC NORTHWEST',
 'PAKISTAN',
 'PENNSYLVANIA',
 'PHILADELPHIA',
 'PHILIPPINES',
 'PLANET EARTH',
 'PNW',
 'PORTUGAL',
 'PUERTO RICO',
 'QUEENSLAND',
 'QUÉBEC',
 'RI',
 'SAN DIEGO',
 'SAN FRANCISCO',
 'SAN FRANCISCO BAY AREA',
 'SASKATCHEWAN',
 'SC',
 'SCOTLAND',
 'SD',
 'SEATTLE',
 'SHE/HER',
 'SINGAPORE',
 'SOCAL',
 'SOMEWHERE',
 'SOUTH AFRICA',
 'SOUTH CAROLINA',
 'SOUTH FLORIDA',
 'SOUTHERN CALIFORNIA',
 'SPAIN',
 'SWEDEN',
 'SWITZERLAND',
 'SYDNEY',
 'TENNESSEE',
 'TEXAS',
 'THE NETHERLANDS',
 'THE WORLD',
 'TN',
 'TORONTO',
 'TX',
 'U.S.A.',
 'UK',
 'UNITED ARAB EMIRATES',
 'UNITED KINGDOM',
 'UNITED STATES',
 'UNITED STATES OF AMERICA',
 'US',
 'USA',
 'UT',
 'UTAH',
 'VA',
 'VANCOUVER',
 'VENEZUELA',
 'VICTORIA',
 'VIRGINIA',
 'WA',
 'WALES',
 'WASHINGTON',
 'WASHINGTON DC',
 'WASHINGTON STATE',
 'WESTERN AUSTRALIA',
 'WI',
 'WISCONSIN',
 'WORLD',
 'WORLDWIDE',
 'WV',
 'भारत',
 '🇨🇦'}

In [44]:
US=[]
with open('state_names.txt') as f:
    next(f)
    #lines=f.readlines()
    for line in f:
        if line!='':
            US.append(line.rstrip())

In [45]:
US.extend(('United States','U.S.A','USA','America','ATLANTA',
           'SAN FRANCISCO','D.C.','SOUTH FLORIDA','SEATTLE','SOUTHERN CALIFORNIA','CHICAGO',
          'ONTARIO','WASHINGTON DC','PHILADELPHIA','NEW YORK CITY','HOUSTON','UNITED STATES OF AMERICA',
          'DENVER','SAN FRANCISCO BAY AREA','NYC','WASHINGTON STATE','BOSTON','BALTIMORE','NEW ENGLAND',
          'BAY AREA','NORTHERN CALIFORNIA','SOCAL','BROOKLYN','MIDWEST','DC','SAN DIEGO','LAS VEGAS',
          'MINNEAPOLIS','LOS ANGELES','U.S.A.'))

In [46]:
US=[x.upper() for x in US]

In [47]:
cleanlocation=final1.copy()

In [50]:
cleanlocation['location'] = cleanlocation['location'].replace(US,'US')
cleanlocation['location'] = cleanlocation['location'].replace(UK,'UNITED KINGDOM')
cleanlocation['location'] = cleanlocation['location'].replace(CANADA,'CANADA')
cleanlocation['location'] = cleanlocation['location'].replace(NETHERLANDS,'NETHERLANDS')
cleanlocation['location'] = cleanlocation['location'].replace(AUS,'AUSTRALIA')
cleanlocation['location'] = cleanlocation['location'].replace(INDIA,'INDIA')
cleanlocation['location'] = cleanlocation['location'].replace(MEXICO,'MEXICO')
cleanlocation['location'] = cleanlocation['location'].replace(EUROPE,'EUROPE')
cleanlocation['location'] = cleanlocation['location'].replace(NA,'NORTH AMERICA')
cleanlocation['location'] = cleanlocation['location'].replace(SPAIN,'SPAIN')
cleanlocation['location'] = cleanlocation['location'].replace(NIGERIA,'NIGERIA')
cleanlocation['location'] = cleanlocation['location'].replace(BRAZIL,'BRAZIL')
cleanlocation['location'] = cleanlocation['location'].replace(GERMANY,'GERMANY')
cleanlocation['location'] = cleanlocation['location'].replace(UAE,'UAE')
cleanlocation['location'] = cleanlocation['location'].replace(IRELAND,'IRELAND')

In [51]:
cleanlocation

,tweet,location,created
0,"[well, looking, like, amy, coney, barrett, ann...",US,02-Oct-2020
1,"[wapo, deleted, tweet, wa, sent, hour, trump, ...",US,02-Oct-2020
8,"[tree4justice, real, thing, nurse, friend, see...",US,02-Oct-2020
9,"[covid19, officially, denounces, white, suprem...",US,02-Oct-2020
11,"[statement, president, trump, covid19, diagnosis]",CANADA,02-Oct-2020
...,...,...,...
207982,"[2016, trump, became, president, 77000, vote, ...",US,01-Nov-2020
207988,"[trump, wa, infected, walter, reed, hospital, ...",US,01-Nov-2020
207990,"[america, lead, 1, covid19, case, 1, medical, ...",US,01-Nov-2020
207994,"[zxretroxx, sn123101, jannermaid1, sure, famil...",UNITED KINGDOM,01-Nov-2020
207995,"[ideal, world, kid, school, remain, open, pres...",UNITED KINGDOM,01-Nov-2020

In [52]:
cleanlocation['location'] = cleanlocation['location'].replace(REMOVE,np.nan)

In [53]:
cleanlocation1=cleanlocation.dropna()

In [54]:
cleanlocation1

,tweet,location,created
0,"[well, looking, like, amy, coney, barrett, ann...",US,02-Oct-2020
1,"[wapo, deleted, tweet, wa, sent, hour, trump, ...",US,02-Oct-2020
8,"[tree4justice, real, thing, nurse, friend, see...",US,02-Oct-2020
9,"[covid19, officially, denounces, white, suprem...",US,02-Oct-2020
11,"[statement, president, trump, covid19, diagnosis]",CANADA,02-Oct-2020
...,...,...,...
207982,"[2016, trump, became, president, 77000, vote, ...",US,01-Nov-2020
207988,"[trump, wa, infected, walter, reed, hospital, ...",US,01-Nov-2020
207990,"[america, lead, 1, covid19, case, 1, medical, ...",US,01-Nov-2020
207994,"[zxretroxx, sn123101, jannermaid1, sure, famil...",UNITED KINGDOM,01-Nov-2020
207995,"[ideal, world, kid, school, remain, open, pres...",UNITED KINGDOM,01-Nov-2020

In [55]:
cleanlocation1.location.value_counts()

US                61516
UNITED KINGDOM     9931
CANADA             4501
NIGERIA            2771
AUSTRALIA          1711
INDIA              1673
IRELAND             859
SOUTH AFRICA        414
GERMANY             381
FRANCE              371
NEW ZEALAND         282
SPAIN               234
MALAYSIA            220
KENYA               213
GHANA               194
PAKISTAN            182
NETHERLANDS         155
BRAZIL              148
EUROPE              139
MEXICO              123
NORTH AMERICA       121
JAPAN               121
PORTUGAL            114
PHILIPPINES         109
SINGAPORE           101
INDONESIA            95
JAMAICA              84
ARGENTINA            82
SWITZERLAND          82
HONG KONG            75
VENEZUELA            68
COLOMBIA             67
UAE                  66
ITALY                62
SWEDEN               58
BELGIUM              54
Name: location, dtype: int64

### pickle it

In [56]:
with open('tweetfile2.p', 'wb') as fp:
    pickle.dump(cleanlocation1, fp, protocol=pickle.HIGHEST_PROTOCOL)

In [57]:
cleanlocation1

,tweet,location,created
0,"[well, looking, like, amy, coney, barrett, ann...",US,02-Oct-2020
1,"[wapo, deleted, tweet, wa, sent, hour, trump, ...",US,02-Oct-2020
8,"[tree4justice, real, thing, nurse, friend, see...",US,02-Oct-2020
9,"[covid19, officially, denounces, white, suprem...",US,02-Oct-2020
11,"[statement, president, trump, covid19, diagnosis]",CANADA,02-Oct-2020
...,...,...,...
207982,"[2016, trump, became, president, 77000, vote, ...",US,01-Nov-2020
207988,"[trump, wa, infected, walter, reed, hospital, ...",US,01-Nov-2020
207990,"[america, lead, 1, covid19, case, 1, medical, ...",US,01-Nov-2020
207994,"[zxretroxx, sn123101, jannermaid1, sure, famil...",UNITED KINGDOM,01-Nov-2020
207995,"[ideal, world, kid, school, remain, open, pres...",UNITED KINGDOM,01-Nov-2020

In [58]:
stringtweet=cleanlocation1.copy()
stringtweet['tweet'] = stringtweet['tweet'].apply(listToString)

In [59]:
with open('tweetstring.p', 'wb') as fp:
    pickle.dump(stringtweet, fp, protocol=pickle.HIGHEST_PROTOCOL)

### test sample size, remove country with too few records

In [60]:
rownum=len(cleanlocation1.index)
n=0.05
validnum=int(round(rownum*n,0))
validnum

4369

In [61]:
rownum1=len(cleanlocation1.index)
n=0.01
validnum1=int(round(rownum1*n,0))
validnum1

874

In [62]:
rownum2=len(cleanlocation1.index)
n=0.005
validnum2=int(round(rownum2*n,0))
validnum2

437

In [63]:
completelocation1=cleanlocation1.groupby("location").filter(lambda x: len(x) > validnum)

In [64]:

completelocation1.location.value_counts()

US                61516
UNITED KINGDOM     9931
CANADA             4501
Name: location, dtype: int64

In [65]:
completelocation2=cleanlocation1.groupby("location").filter(lambda x: len(x) > validnum1)

In [66]:
completelocation2.location.value_counts()

US                61516
UNITED KINGDOM     9931
CANADA             4501
NIGERIA            2771
AUSTRALIA          1711
INDIA              1673
Name: location, dtype: int64

In [67]:
completelocation3=cleanlocation1.groupby("location").filter(lambda x: len(x) > validnum2)
completelocation3.location.value_counts()

US                61516
UNITED KINGDOM     9931
CANADA             4501
NIGERIA            2771
AUSTRALIA          1711
INDIA              1673
IRELAND             859
Name: location, dtype: int64

### group tweets together

In [68]:
countrybasedpd=cleanlocation1.groupby('location').agg('sum').drop(columns=['created'])

In [69]:
countrystring=stringtweet.groupby('location').agg('sum').drop(columns=['created'])

In [70]:
with open('locationstring.p', 'wb') as fp:
    pickle.dump(countrystring, fp, protocol=pickle.HIGHEST_PROTOCOL)

In [77]:
with open('locationtokenized.p', 'wb') as fp:
    pickle.dump(countrybasedpd, fp, protocol=pickle.HIGHEST_PROTOCOL)

In [71]:
countrybasedpd

                                                            tweet
location
ARGENTINA       [statement, trump, covid19, positive, diagnosi...
AUSTRALIA       [coronavirus, ultimate, trap, medium, loselose...
BELGIUM         [kary, mullis, invented, pcr, nobel, prize, ch...
BRAZIL          [alarming, data, show, third, wave, covid19, h...
CANADA          [statement, president, trump, covid19, diagnos...
COLOMBIA        [praying, swift, recovery, father, melania, im...
EUROPE          [back, normal, christmas, perfectly, safe, sch...
FRANCE          [hiiii, bweaking, pwesidenttwump, weceiving, c...
GERMANY         [forgive, skepticism, noticed, testing, positi...
GHANA           [statement, trump, covid19, positive, diagnosi...
HONG KONG       [sat, virtually, course, professor, karen, sta...
INDIA           [5, surbhi, chandna, say, update, fan, health,...
INDONESIA       [buffet, watching, mahomes, right, wasnt, covi...
IRELAND         [right, thing, friend, loved, dublin, teenager...
ITALY           [trump, getting, covid, first, october, full, ...
JAMAICA         [yeah, president, united, state, give, resourc...
JAPAN           [praying, swift, recovery, father, melania, im...
KENYA           [trump, got, covid, 21, savage, dropped, tyga,...
MALAYSIA        [current, status, hosp, sungai, buloh, standby...
MEXICO          [first, movie, delayed, due, covid, year, orig...
NETHERLANDS     [well, looking, like, amy, coney, barrett, ann...
NEW ZEALAND     [piece, language, ‘, together, covid, generall...
NIGERIA         [field, wave, idk, course, cursed, 😭😭😭, lectur...
NORTH AMERICA   [321, day, since, trump, wa, inexplicably, tak...
PAKISTAN        [gained, much, 06, percent, 10494, dollar, aft...
PHILIPPINES     [crowd, staten, island, today, sending, presid...
PORTUGAL        [‘, home, alone, 2, lost, new, york, star, don...
SINGAPORE       [well, surprised, trump, tested, positive, cov...
SOUTH AFRICA    [caught, covid, 💀, trump, getting, covid, righ...
SPAIN           [trump, lowgrade, fever, nasal, congestion, co...
SWEDEN          [statement, trump, covid19, positive, diagnosi...
SWITZERLAND     [heard, lot, example, ebuga, today, publicserv...
UAE             [fought, covid, 3, daysthen, back, normallolca...
UNITED KINGDOM  [incredible, number, friday, 2, october, confi...
US              [well, looking, like, amy, coney, barrett, ann...
VENEZUELA       [president, trump, lowgrade, fever, nasal, con...

### check name of the country from tweets with name of country from worldwie.csv

In [72]:
tloc1=cleanlocation1.location.tolist()
tloc1=set(tloc1)
tloc1

{'ARGENTINA',
 'AUSTRALIA',
 'BELGIUM',
 'BRAZIL',
 'CANADA',
 'COLOMBIA',
 'EUROPE',
 'FRANCE',
 'GERMANY',
 'GHANA',
 'HONG KONG',
 'INDIA',
 'INDONESIA',
 'IRELAND',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'KENYA',
 'MALAYSIA',
 'MEXICO',
 'NETHERLANDS',
 'NEW ZEALAND',
 'NIGERIA',
 'NORTH AMERICA',
 'PAKISTAN',
 'PHILIPPINES',
 'PORTUGAL',
 'SINGAPORE',
 'SOUTH AFRICA',
 'SPAIN',
 'SWEDEN',
 'SWITZERLAND',
 'UAE',
 'UNITED KINGDOM',
 'US',
 'VENEZUELA'}

In [73]:
tloc=cleanlocation.location.tolist()
tloc=set(tloc)
tloc

{'ARGENTINA',
 'AUSTRALIA',
 'BELGIUM',
 'BRAZIL',
 'CANADA',
 'COLOMBIA',
 'EUROPE',
 'FRANCE',
 'GERMANY',
 'GHANA',
 'HONG KONG',
 'INDIA',
 'INDONESIA',
 'IRELAND',
 'ITALY',
 'JAMAICA',
 'JAPAN',
 'KENYA',
 'MALAYSIA',
 'MEXICO',
 'NETHERLANDS',
 'NEW ZEALAND',
 'NIGERIA',
 'NORTH AMERICA',
 'PAKISTAN',
 'PHILIPPINES',
 'PORTUGAL',
 'SINGAPORE',
 'SOUTH AFRICA',
 'SPAIN',
 'SWEDEN',
 'SWITZERLAND',
 'UAE',
 'UNITED KINGDOM',
 'US',
 'VENEZUELA',
 nan}

In [74]:
cname=[x.upper() for x in cname]

cname

['US',
 'BRAZIL',
 'INDIA',
 'RUSSIA',
 'SOUTH AFRICA',
 'MEXICO',
 'PERU',
 'CHILE',
 'COLOMBIA',
 'SPAIN',
 'IRAN',
 'UNITED KINGDOM',
 'SAUDI ARABIA',
 'PAKISTAN',
 'BANGLADESH',
 'ITALY',
 'TURKEY',
 'ARGENTINA',
 'GERMANY',
 'FRANCE',
 'IRAQ',
 'PHILIPPINES',
 'INDONESIA',
 'CANADA',
 'QATAR',
 'KAZAKHSTAN',
 'EGYPT',
 'ECUADOR',
 'BOLIVIA',
 'SWEDEN',
 'OMAN',
 'ISRAEL',
 'UKRAINE',
 'DOMINICAN REPUBLIC',
 'PANAMA',
 'BELGIUM',
 'KUWAIT',
 'BELARUS',
 'UAE',
 'ROMANIA',
 'NETHERLANDS',
 'SINGAPORE',
 'GUATEMALA',
 'PORTUGAL',
 'POLAND',
 'NIGERIA',
 'HONDURAS',
 'BAHRAIN',
 'JAPAN',
 'ARMENIA',
 'GHANA',
 'KYRGYZSTAN',
 'AFGHANISTAN',
 'SWITZERLAND',
 'ALGERIA',
 'AZERBAIJAN',
 'MOROCCO',
 'UZBEKISTAN',
 'SERBIA',
 'MOLDOVA',
 'IRELAND',
 'KENYA',
 'VENEZUELA',
 'NEPAL',
 'AUSTRIA',
 'COSTA RICA',
 'ETHIOPIA',
 'AUSTRALIA',
 'EL SALVADOR',
 'CZECHIA',
 'CAMEROON',
 'IVORY COAST',
 'S. KOREA',
 'DENMARK',
 'PALESTINE',
 'BOSNIA AND HERZEGOVINA',
 'BULGARIA',
 'MADAGASCAR',
 'SUDAN',
 'NORTH MACEDONIA',
 'SENEGAL',
 'NORWAY',
 'DRC',
 'MALAYSIA',
 'FRENCH GUIANA',
 'GABON',
 'TAJIKISTAN',
 'GUINEA',
 'HAITI',
 'FINLAND',
 'ZAMBIA',
 'LUXEMBOURG',
 'MAURITANIA',
 'PARAGUAY',
 'ALBANIA',
 'LEBANON',
 'CROATIA',
 'DJIBOUTI',
 'GREECE',
 'LIBYA',
 'EQUATORIAL GUINEA',
 'MALDIVES',
 'CAR',
 'HUNGARY',
 'MALAWI',
 'ZIMBABWE',
 'NICARAGUA',
 'HONG KONG',
 'CONGO',
 'MONTENEGRO',
 'THAILAND',
 'SOMALIA',
 'MAYOTTE',
 'ESWATINI',
 'SRI LANKA',
 'CUBA',
 'CABO VERDE',
 'NAMIBIA',
 'MALI',
 'SLOVAKIA',
 'SOUTH SUDAN',
 'SLOVENIA',
 'LITHUANIA',
 'ESTONIA',
 'MOZAMBIQUE',
 'RWANDA',
 'SURINAME',
 'GUINEA-BISSAU',
 'BENIN',
 'ICELAND',
 'SIERRA LEONE',
 'YEMEN',
 'TUNISIA',
 'NEW ZEALAND',
 'ANGOLA',
 'URUGUAY',
 'LATVIA',
 'JORDAN',
 'LIBERIA',
 'UGANDA',
 'CYPRUS',
 'GEORGIA',
 'BURKINA FASO',
 'NIGER',
 'TOGO',
 'SYRIA',
 'JAMAICA',
 'MALTA',
 'ANDORRA',
 'CHAD',
 'GAMBIA',
 'SAO TOME AND PRINCIPE',
 'BOTSWANA',
 'BAHAMAS',
 'VIETNAM',
 'LESOTHO',
 'DIAMOND PRINCESS',
 'SAN MARINO',
 'RÉUNION',
 'CHANNEL ISLANDS',
 'GUYANA',
 'TANZANIA',
 'TAIWAN',
 'COMOROS',
 'BURUNDI',
 'MYANMAR',
 'MAURITIUS',
 'ISLE OF MAN',
 'MONGOLIA',
 'ERITREA',
 'GUADELOUPE',
 'MARTINIQUE',
 'FAEROE ISLANDS',
 'ARUBA',
 'CAMBODIA',
 'TRINIDAD AND TOBAGO',
 'CAYMAN ISLANDS',
 'GIBRALTAR',
 'PAPUA NEW GUINEA',
 'SINT MAARTEN',
 'BERMUDA',
 'BRUNEI ',
 'BARBADOS',
 'TURKS AND CAICOS',
 'SEYCHELLES',
 'MONACO',
 'BHUTAN',
 'ANTIGUA AND BARBUDA',
 'LIECHTENSTEIN',
 'BELIZE',
 'FRENCH POLYNESIA',
 'ST. VINCENT GRENADINES',
 'SAINT MARTIN',
 'MACAO',
 'CURAÇAO',
 'FIJI',
 'SAINT LUCIA',
 'TIMOR-LESTE',
 'GRENADA',
 'NEW CALEDONIA',
 'LAOS',
 'DOMINICA',
 'SAINT KITTS AND NEVIS',
 'GREENLAND',
 'MONTSERRAT',
 'CARIBBEAN NETHERLANDS',
 'FALKLAND ISLANDS',
 'VATICAN CITY',
 'WESTERN SAHARA']

In [75]:
list(set(tloc1)-set(cname))

['EUROPE', 'NORTH AMERICA']

### group location

In [76]:
UK,CANADA,NETHERLANDS,AUS,REMOVE,INDIA,MEXICO,EUROPE,NA,SPAIN,NIGERIA,BRAZIL,GERMANY,UAE,IRELAND=[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]

In [49]:
UK.extend(('ESSEX','MANCHESTER','SCOTLAND','GLASGOW','WALES','LONDON','OXFORD',
           'UK','NORTHERN IRELAND','LIVERPOOL','ENGLAND','EDINBURGH','BELFAST'))
CANADA.extend(('ONTARIO CANADA','SASKATCHEWAN','MONTREAL','QUÉBEC','VICTORIA','NOVA SCOTIA',
               'VANCOUVER','BRITISH COLUMBIA','MANITOBA','TORONTO','BC','B.C.','🇨🇦','ALBERTA'))
NETHERLANDS.extend(('NEDERLAND','THE NETHERLANDS'))
AUS.extend(('WESTERN AUSTRALIA','QUEENSLAND','MELBOURNE','NEW SOUTH WALES','SYDNEY'))
REMOVE.extend(('HERE','WORLDWIDE', 
 'HELL','HE/HIM','PLANET EARTH','SHE/HER','EVERYWHERE','GLOBAL','THE WORLD','ON','EARTH','WORLD',
 'AB','SOMEWHERE','NIG'))
INDIA.extend(('NEW DELHI','MUMBAI','भारत'))
MEXICO.append('MÉXICO')
EUROPE.append('EUROPE')
NA.extend(('PACIFIC NORTHWEST','PNW'))
SPAIN.append('ESPAÑA')
NIGERIA.extend(('LAGOS','ABUJA'))
BRAZIL.append('BRASIL')
GERMANY.append('DEUTSCHLAND')
UAE.append('UNITED ARAB EMIRATES')
IRELAND.append('DUBLIN')